.template-home .page-header {
  min-height: unset;
  margin: 1.5rem 0;
}

.navbar-expand-lg .navbar-nav {
  gap: 0.25rem;
}

.developers ul li > {
  br, .roles {
    display: none;
  }
}

@media (min-width: 576px) {
  .tdcm-disclaimer {
    max-width: 50vw;
    margin: 0.5rem 0 !important;
  }
}
